/* In this file you can overwrite/extend the given babe-styles or declare your own ones */

/* Example of extending a given babe-style */

/*.babe-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.babe-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}


.babe-view-picture {
    position: relative;
    top: 110px;
    height: 124px;
    width: 992px;
}

/* actually intended for reminder message, which sadly is broken */
.babe-response-keypress-footer {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Lato", "Noto Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
